@import "tailwindcss";

[data-scroll-container] {
  overflow: hidden;
}

.history-section {
  padding: 100px 20px;
} 

.timeline {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.timeline-item {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease;
  will-change: transform, opacity;
}

.timeline-item.is-reveal {
  opacity: 1;
  transform: translateY(0);
}

.timeline-item::before {
  content: '';
  position: absolute;
  left: -10px;
  top: 30px;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 50%;
}

.is-reveal {
  opacity: 1 !important;
  transform: translateY(0) !important;
}
